/* styling buttons */
.button {
  background-color: #0044aa;
  border: none;
  font-size: 22px;
  color: #FFFFFF;
  padding: 15px;
  font-family: 'LORfontTwo';
  width: 170px;
  text-align: center;
  border-radius: 5px;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
  background-color: #2980b9;
}

/* styling title */
body {
  background-color: black;
  color: #ffdd1b;
  font-family: 'LORfont', sans-serif;
  font-size: 23px;
}

/* Styling Cards */
.img-cards {
  /*float: right;*/
  display: inline-block;
  width: 8%;
  height: 8%;
  padding: 0px;
  margin-right: 1%;
  /*position: relative;*/
  box-sizing: border-box;
}
.card-labels{
  text-align: center;
}

#flex-card-image-container {
  margin-top: 5vh;
  padding: 2%;
  display: flex;
  border-radius: 15px;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  background-color: #0044aa;
  min-height: 200px;
}

.flex-card-image-container::after {
  content:"";
  clear: both;
  display: table;
}

/* turn counter */
#turn-counter{
  font-weight: 900;
  font-size: 70px;
}

/* adding margin underneath card labels */
.counter-display {
  margin-top: 100px;
}

@font-face {
  font-family: 'LORfont';
  src: url('LOR Fonts/BeaufortforLOLJa-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LORfontTwo';
  src: url('LOR Fonts/BeaufortforLOLJa-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#mana-value::placeholder {
  font-family: 'LORfontTwo';
  color: white;
  font-size: 22px;
}

/* then numbers are cost, we want to have user input limit it from 1 to 9 */
/* when discard/play is clicked, it'll pick a card to discard/play */
/* shown: manual input, notes, etc */