#oldButtons {
  display: none;
}
#game-phase {
  margin-top: 3vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#flex-button-column {
  margin-left: 6vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 14vw;
}
.button-row {
  display: flex;
}
/* styling buttons */
.button {
  background-color: #ADD8E6;
  border: none;
  font-size: 22px;
  color: #FFFFFF;
  padding: 15px;
  font-family: 'LORfontTwo';
  width: 170px;
  text-align: center;
  border-radius: 5px;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: 5px;
  display: block; /* Set the display property to 'block' to make buttons stack vertically */
  background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
  --btn-bg-1: hsla(230, 100%, 62%, 1); /* Darkened btn-bg-1 color */
  --btn-bg-2: hsla(235, 100%, 59%, 1); /* Darkened btn-bg-2 color */
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  background-color: #2980b9;
  transform: scale(1.05); /* Enlarge the button on hover */
}

#start-game {
  width: 80%;
  height: 80%;
}

#draw::after {
  content: '(w)';
  position: relative;
  left: 44px;
  top: 13px;
  font-size: 14px; /* Adjust the font size for the "c" */
  color: white; /* Customize the color of the "c" */
}

#next-turn::after {
  content: '(q)';
  position: relative;
  top: 15px; /* Adjust the distance from the bottom */
  left: 24px; /* Adjust the distance from the right */
  font-size: 14px; /* Adjust the font size for the "c" */
  color: white; /* Customize the color of the "c" */
}

#discard-play::after {
  content: '(e)';
  position: relative;
  top: 15px; /* Adjust the distance from the bottom */
  left: 35px; /* Adjust the distance from the right */
  font-size: 14px; /* Adjust the font size for the "c" */
  color: white; /* Customize the color of the "c" */
}

#manual-input::after {
  content: '(r)';
  position: relative;
  top: 15px; /* Adjust the distance from the bottom */
  left: 16px; /* Adjust the distance from the right */
  font-size: 14px; /* Adjust the font size for the "c" */
  color: white; /* Customize the color of the "c" */
  z-index: 1;
}

.mulligan-button {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    width: 5em;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .mulligan-button.button-8:hover,
  .mulligan-Button:focus {
    background-color: #b3d3ea;
    color: #2c5777;
  }
  
  .mulligan-button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .mulligan-button:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
  }


/* styling title */
body {
  height:96vh;
  display: flex;
  background-image: url('Card-Back-Images/Background1.png');
  color: #ffffff;
  font-family: 'LORfont', sans-serif;
  font-size: 2vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0px;
}

/* Styling dropdown */
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .button:hover + .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px -8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  bottom: 100%;
  max-height: 300%; /* Set a maximum height for the dropdown */
  overflow: hidden; /* Enable vertical scrollbar if content exceeds the max height */
}
.dropdown-content:hover {
  overflow-y: auto;
}
/* Display the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content::-webkit-scrollbar {
  display: none;
}
/* Styling Cards */
.img-cards {
  display: inline-block;
  width: 8%;
  height: 8%;
  transition: width 0.3s ease, height 0.3s ease;
  margin-left: 1vw;
  margin-right: 1vw;
  box-sizing: border-box;
  place-items: center;
  flex-shrink: 0; /* Prevent cards from shrinking too much */
  position: relative; /* Enable overlapping by using position */
  z-index: 1; /* Set a higher z-index to overlap cards */
  text-align: center;
  vertical-align: middle;
}
.LORCardClass {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-labels{
  text-align: center;
  height:10vh;
  margin-bottom: 0vh;
  display: flex;
  max-height: 100%;
  flex-direction: column;
  justify-content: center;
  font-size: calc(7px + 0.5vw);
}

.flex-buttons {
  width: 80%;
  height: 20%;
  margin-top: 2.5px;
  margin-bottom:2.5px;
  display: 0;
}
#undo {
  width: 60%;
  height: 14%;
  margin-top: 6px;
}
#restart {
  width: 60%;
  height: 14%;
}

#replace1, #replace2, #replace3, #replace4 {
  width: 60%;
  height: 14%;
}
#flex-card-column {
  width:90vw;
}
#flex-background {
  margin-top: 10vh;
  background-image: url('Card-Back-Images/cardBackground.png');
  display:flex;
  flex-direction: row;
}

#flex-card-image-container {
  margin-top: 0vh;
  margin-left: 5vw;
  padding: 2vh;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  text-align: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center calc(50% - 10%);
  background-size: 100%;
  max-width: 70vw;
  min-height: 30vh;
  /* min-height: 200px; */
  align-items: center;
}

.flex-card-image-container::after {
  content:"";
  clear: both;
  display: table;
}

/* turn counter */
#counter-display{
  font-weight: 900;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20.5px;
  margin-left: 79px;
}

/* adding margin underneath card labels */
/* bro why do u need this */
h1 {
  margin-top: 0px;
  margin-bottom: 0px;

}

#third-column {
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'LORfont';
  src: url('LOR Fonts/Finlandica-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LORfontTwo';
  src: url('LOR Fonts/Finlandica-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#mana-value::placeholder {
  font-family: 'LORfontTwo';
  color: white;
  font-size: 22px;
}



/* then numbers are cost, we want to have user input limit it from 1 to 9 */
/* when discard/play is clicked, it'll pick a card to discard/play */
/* shown: manual input, notes, etc */